{% include "_includes/forms/text.twig" %}

<table class="data fullwidth">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Event</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    {% for item in history %}
    {% endfor %}
    </tbody>
</table>
