{% extends "_layouts/cp" %}
{% set title = "" %}

{% block content %}
    <div class="centeralign">Please <a href="{{ url('settings/plugins/its/issuetypes') }}">add</a> an issue type first.</div>
{% endblock %}
